// font-family: 'Permanent Marker', cursive;
// font-family: 'Open Sans', sans-serif;

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
  color: #D77A61;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5em;
  color: #EFF1F3;
  font-size: 1.2em;
}
