@import 'meyer-reset';
@import 'typography';

body,
html {
  height: 100%;
  background-color: #223843;
}

.flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  * {
    text-align: center;
  }
}
